@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
	outline: 3px solid #e37f6c;
	outline-offset: -5px;
}

* {
	box-sizing: border-box;
	cursor: none !important;
}

body {
	margin: 0;
	opacity: 0;
	color: #e7e9e6;
}

div#__next {
	opacity: 0;
	scale: 0.8;
	transition: 1.2s;
}

body.rendered > #__next {
	opacity: 1;
	scale: 1;
}

.cursor {
	transition: height 120ms, outline-offset 120ms;
}

.content {
	transition: transform 300ms;
}

#page-loader {
	transition: transform 1s;
	cursor: wait !important;
}

.section-btn {
	position: relative;
}

.loaded {
	transform: translateY(-100%);
}
