@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
	outline: 3px solid #e37f6c;
	outline-offset: -5px;
}

* {
	box-sizing: border-box;
	/* cursor: none !important; */
}

body {
	margin: 0;
	opacity: 0;
	color: #d9dacb;
	perspective: 2000px;
}

div#__next {
	/* opacity: 0; */
	scale: 0.6;
	transform: rotate3d(1, 0, 0, -45deg);
	transform-origin: top;
	transition: scale 1s 200ms, opacity 1s 200ms, transform 1s 300ms;
	background-color: #d9dacb;
	/* background-image: url('/bg.webp');
	background-size: contain;
	background-repeat: no-repeat; */
}

body.rendered > #__next {
	transform: rotate3d(1, 0, 0, 0deg);
	opacity: 1;
	scale: 1;
}

@media (prefers-reduced-motion) {
	div#__next {
		opacity: 0;
		scale: 1;
	}
	.loaded {
		opacity: 0;
		transform: translateY(0);
	}
}

.cursor {
	transition: box-shadow 100ms;
}

.content {
	transition: transform 300ms;
}

#page-loader {
	transition: transform 0.6s 400ms, opacity 0.6s 400ms;
	opacity: 1;
	cursor: wait !important;
}

.loaded {
	transform: translateY(-100%);
	opacity: 0;
}

.section-btn {
	position: relative;
}
