@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
	outline: 3px solid #e37f6c;
	outline-offset: -5px;
}

* {
	box-sizing: border-box;
	/* cursor: none !important; */
}

body {
	margin: 0;
	opacity: 0;
	color: #d9dacb;
}

div#__next {
	opacity: 0;
	scale: 0.7;
	transition: scale 1s 200ms, opacity 1s 200ms;
	background-color: #d9dacb;
	/* background-image: url('/bg.webp');
	background-size: contain;
	background-repeat: no-repeat; */
}

body.rendered > #__next {
	opacity: 1;
	scale: 1;
}

@media (prefers-reduced-motion) {
	div#__next {
		opacity: 0;
		scale: 1;
	}
	.loaded {
		opacity: 0;
		transform: translateY(0);
	}
}

.cursor {
	transition: height 120ms, outline-offset 120ms;
}

.content {
	transition: transform 300ms;
}

#page-loader {
	transition: transform 0.6s 400ms;
	cursor: wait !important;
}

.loaded {
	transform: translateY(-100%);
}

.section-btn {
	position: relative;
}
